    <footer>
      <div class="container">
        <div class="pull-right">
          <a target="_blank" href="https://www.facebook.com/rootssearchapp"><span class="fa fa-facebook"></span></a>
          <a target="_blank" href="https://plus.google.com/117580627638574600794"><span class="fa fa-google-plus"></span></a>
          <a target="_blank" href="https://twitter.com/rootssearchapp"><span class="fa fa-twitter"></span></a>
          <a href="/help">Help</a>
          <a target="_blank" href="http://blog.rootssearch.io">Blog</a>
          <a id="contact-link" href="mailto:contact@rootssearch.io">Contact</a>
        </div>
        <div>&copy; <a href="https://york.io">York Solutions, LLC</a></div>
      </div>
    </footer>
    
    <script src="/assets/js/cookies.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <% for(var i = 0; i < js.length; i++){ %>
    <script src="/assets/js/<%= js[i] %>.js"></script>
    <% } %>
    <script type="text/javascript">
      window.doorbellOptions = {
        appKey: 'ZiPzIm5FHeb9bFHwVomlSi7ilIHvE0X1amLKSoIizZWaOmTCRmJjs3UTjbS4HBFp',
        hideButton: true,
        strings: {
          title: 'Contact and Support'
        }
      };
      (function(d, t) {
        var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/1422?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
      }(document, 'script'));
      document.getElementById('contact-link').addEventListener('click', function(){
        if(doorbell){
          event.preventDefault();
          doorbell.show();
        }
      });
    </script>
  </body>
</html>