    </div> <!-- end #main -->
    
    <footer>
      <div class="container">
        <div class="pull-right">
          <a target="_blank" href="https://www.facebook.com/rootssearchapp"><span class="fa fa-facebook"></span></a>
          <a target="_blank" href="https://plus.google.com/117580627638574600794"><span class="fa fa-google-plus"></span></a>
          <a target="_blank" href="https://twitter.com/rootssearchapp"><span class="fa fa-twitter"></span></a>
          <a href="/help">Help</a>
          <a target="_blank" href="http://blog.rootssearch.io">Blog</a>
          <a id="contact-link" href="mailto:rootssearch@york.io">Contact</a>
        </div>
        <div>&copy; <a href="https://york.io">York Solutions, LLC</a></div>
      </div>
    </footer>
    
    <script src="<%- asset('js/manifest.js') %>"></script>
    <script src="<%- asset('js/vendor.js') %>"></script>
    <% for(var i = 0; i < js.length; i++){ %>
    <script src="<%- asset(`js/${js[i]}.js`) %>"></script>
    <% } %>
    
    <script type="text/javascript">
      window.doorbellOptions = {
        appKey: 'ZiPzIm5FHeb9bFHwVomlSi7ilIHvE0X1amLKSoIizZWaOmTCRmJjs3UTjbS4HBFp',
        hideButton: true,
        strings: {
          title: 'Contact and Support'
        }
      };
      (function(d, t) {
        var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/1422?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
      }(document, 'script'));
      document.getElementById('contact-link').addEventListener('click', function(){
        if(doorbell){
          event.preventDefault();
          doorbell.show();
        }
      });
    </script>
    <script> 
      var $buoop = {vs:{i:11,f:-8,o:-8,s:6,c:-8},api:4}; 
      function $buo_f(){ 
       var e = document.createElement("script"); 
       e.src = "//browser-update.org/update.min.js"; 
       document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
  </body>
</html>
