<%- include('head'); %>

<header class="header-small">
  <div class="container">
    <div class="branding"><a href="/"><img class="logo" src="<%- asset('img/logo-32.png') %>">RootsSearch</a></div>
    <div class="nav">
      <a href="/search">Search</a>
      <a href="/help">Help</a>
      <a href="http://blog.rootssearch.io" target="_blank">Blog</a>
      <a target="_blank" class="social" href="https://plus.google.com/117580627638574600794"><span class="fa fa-google-plus"></span></a>
      <a target="_blank" class="social" href="https://twitter.com/rootssearchapp"><span class="fa fa-twitter"></span></a>
      <a target="_blank" class="social" href="https://www.facebook.com/rootssearchapp"><span class="fa fa-facebook"></span></a>
    </div>
  </div>
</header>