<%- include('head'); %>

<header class="header-small">
  <div class="container">
    <div class="row">
      <div class="branding"><a href="/"><img class="logo" src="/assets/img/flat-32.png">RootsSearch</a></div>
      <div class="nav">
        <a href="/search">Search</a>
      </div>
    </div>
  </div>
</header>