<%- 
  include('_header_small', {
    pageTitle: 'Search'
  });
%>

  <div id="main" class="container">

    <p>Search page</p>
    
    <pre><%- JSON.stringify(data, null, 2); %></pre>

  </div>

<%- include('_footer'); %>