<%
  var pageTitle = 'Search',
      css = ['settings'],
      bundles = ['settings'];
%>
<%- include('partials/header_small'); %>

<div id="main" class="container">
  <div class="row">
    <h1>Settings</h1>
    <div id="sites-list"></div>
  </div>
</div>

<%- include('partials/footer'); %>