<%
  var pageTitle = 'Search',
      css = ['settings'],
      js = ['settings'];
%>
<%- include('partials/header_small'); %>

<div id="main" class="container">
  <h1>Settings</h1>
  <div id="sites-list"></div>
</div>
<div class="page-loader"></div>

<%- include('partials/footer'); %>