<%
  var pageTitle = 'Search',
      css = ['settings'],
      bundles = ['settings'];
%>
<%- include('partials/header_small'); %>

<div id="main" class="container">
  <div class="row">
    <h1>Settings</h1>
    <div id="sites-list"></div>
  </div>
</div>
  
<script id="sites-template" type="text/x-handlebars-template">
  <div class="site row">
    <div class="site-description col-md-10">
      <div class="site-name">{{site.name}}</div>
      <p class="text-muted">{{site.description.en}}</p>
    </div>
    <div class="site-settings-col col-md-2">
      <div class="btn-group btn-toggle" data-toggle="buttons">
        <label class="btn btn-rs enabled-btn{{#enabled}} active{{/enabled}}">
          <input type="radio" name="enabled" autocomplete="off" value="enabled"{{#enabled}} checked{{/enabled}}> Enabled
        </label>
        <label class="btn btn-rs disabled-btn{{^enabled}} active{{/enabled}}">
          <input type="radio" name="enabled" autocomplete="off" value="disabled"{{^enabled}} checked{{/enabled}}> Disabled
        </label>
      </div>
    </div>
    <div class="col-xs-12"><hr></div>
  </div>
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>

<%- include('partials/footer'); %>