<%
  var pageTitle = 'Save to FamilySearch',
      css = ['save.fs'],
      js = ['save.fs'];
%>
<%- include('../partials/header'); %>

<div class="page-save-fs">
  <div class="container">
    <h1>FamilySearch</h1>
    <div id="app"></div>
  </div>
</div>
<div class="page-loader"></div>

<script>
  var gedxData = <%- gedcomx %>;
</script>
<%- include('../partials/footer'); %>