<style>
  body {
    padding: 0;
    margin: 0;
  }
  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  button {
    height: 2em;
  }
  textarea {
    flex: 1;
    margin-top: 1em;
  }
</style>
<form method="POST" action="https://rootssearch-www-justincy.c9.io/save/fs" target="fsSave">
<button>Submit</button>
<textarea name="gedcomx">{
	"id": "r_21829700728",
	"description": "#sd_p_10332477129",
	"persons": [{
		"id": "p_10332477128",
		"links": {
			"persona": {
				"href": "https://familysearch.org/platform/records/personas/X7WQ-ZQH?from=lynx1"
			},
			"record": {
				"href": "https://familysearch.org/platform/records/records/1BZ4-6MB?from=lynx1"
			}
		},
		"sources": [{
			"description": "#sd2"
		}, {
			"description": "#sd_p_10332477128"
		}],
		"extracted": true,
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQH"],
			"genscrape": ["genscrape://familysearch:record/p_10332477128"]
		},
		"gender": {
			"type": "http://gedcomx.org/Male"
		},
		"names": [{
			"type": "http://gedcomx.org/BirthName",
			"nameForms": [{
				"fullText": "Hans Rasmussen",
				"parts": [{
					"value": "Hans",
					"type": "http://gedcomx.org/Given"
				}, {
					"value": "Rasmussen",
					"type": "http://gedcomx.org/Surname"
				}]
			}]
		}]
	}, {
		"id": "p_10332477129",
		"links": {
			"persona": {
				"href": "https://familysearch.org/platform/records/personas/X7WQ-ZQC?from=lynx1"
			},
			"record": {
				"href": "https://familysearch.org/platform/records/records/1BZ4-6MB?from=lynx1"
			}
		},
		"sources": [{
			"description": "#sd2"
		}, {
			"description": "#sd_p_10332477129"
		}],
		"extracted": true,
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQC"],
			"genscrape": ["genscrape://familysearch:record/p_10332477129"]
		},
		"gender": {
			"type": "http://gedcomx.org/Male"
		},
		"names": [{
			"type": "http://gedcomx.org/BirthName",
			"nameForms": [{
				"fullText": "Porter A Clark",
				"parts": [{
					"value": "Porter A",
					"type": "http://gedcomx.org/Given"
				}, {
					"value": "Clark",
					"type": "http://gedcomx.org/Surname"
				}]
			}]
		}],
		"facts": [{
			"type": "http://gedcomx.org/Census",
			"date": {
				"original": "1930"
			},
			"place": {
				"original": "Afton, Lincoln, Wyoming, United States"
			},
			"primary": true
		}, {
			"type": "http://gedcomx.org/Birth",
			"date": {
				"original": "1893"
			},
			"place": {
				"original": "Utah"
			}
		}, {
			"type": "http://gedcomx.org/MaritalStatus",
			"value": "Married"
		}],
		"principal": true
	}, {
		"id": "p_10332477130",
		"links": {
			"persona": {
				"href": "https://familysearch.org/platform/records/personas/X7WQ-ZQZ?from=lynx1"
			},
			"record": {
				"href": "https://familysearch.org/platform/records/records/1BZ4-6MB?from=lynx1"
			}
		},
		"sources": [{
			"description": "#sd2"
		}, {
			"description": "#sd_p_10332477130"
		}],
		"extracted": true,
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQZ"],
			"genscrape": ["genscrape://familysearch:record/p_10332477130"]
		},
		"gender": {
			"type": "http://gedcomx.org/Female"
		},
		"names": [{
			"type": "http://gedcomx.org/BirthName",
			"nameForms": [{
				"fullText": "Lavinia Clark",
				"parts": [{
					"value": "Lavinia",
					"type": "http://gedcomx.org/Given"
				}, {
					"value": "Clark",
					"type": "http://gedcomx.org/Surname"
				}]
			}]
		}],
		"facts": [{
			"type": "http://gedcomx.org/Census",
			"date": {
				"original": "1930"
			},
			"place": {
				"original": "Afton, Lincoln, Wyoming, United States"
			},
			"primary": true
		}, {
			"type": "http://gedcomx.org/Birth",
			"date": {
				"original": "1894"
			},
			"place": {
				"original": "Pennsylvania"
			}
		}, {
			"type": "http://gedcomx.org/MaritalStatus",
			"value": "Married"
		}]
	}, {
		"id": "p_10332477131",
		"links": {
			"persona": {
				"href": "https://familysearch.org/platform/records/personas/X7WQ-ZQ8?from=lynx1"
			},
			"record": {
				"href": "https://familysearch.org/platform/records/records/1BZ4-6MB?from=lynx1"
			}
		},
		"sources": [{
			"description": "#sd2"
		}, {
			"description": "#sd_p_10332477131"
		}],
		"extracted": true,
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQ8"],
			"genscrape": ["genscrape://familysearch:record/p_10332477131"]
		},
		"gender": {
			"type": "http://gedcomx.org/Female"
		},
		"names": [{
			"type": "http://gedcomx.org/BirthName",
			"nameForms": [{
				"fullText": "Joyce Clark",
				"parts": [{
					"value": "Joyce",
					"type": "http://gedcomx.org/Given"
				}, {
					"value": "Clark",
					"type": "http://gedcomx.org/Surname"
				}]
			}]
		}],
		"facts": [{
			"type": "http://gedcomx.org/Census",
			"date": {
				"original": "1930"
			},
			"place": {
				"original": "Afton, Lincoln, Wyoming, United States"
			},
			"primary": true
		}, {
			"type": "http://gedcomx.org/Birth",
			"date": {
				"original": "1917"
			},
			"place": {
				"original": "Wyoming"
			}
		}, {
			"type": "http://gedcomx.org/MaritalStatus",
			"value": "Single"
		}]
	}, {
		"id": "p_10332477132",
		"links": {
			"persona": {
				"href": "https://familysearch.org/platform/records/personas/X7WQ-ZQD?from=lynx1"
			},
			"record": {
				"href": "https://familysearch.org/platform/records/records/1BZ4-6MB?from=lynx1"
			}
		},
		"sources": [{
			"description": "#sd2"
		}, {
			"description": "#sd_p_10332477132"
		}],
		"extracted": true,
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQD"],
			"genscrape": ["genscrape://familysearch:record/p_10332477132"]
		},
		"gender": {
			"type": "http://gedcomx.org/Female"
		},
		"names": [{
			"type": "http://gedcomx.org/BirthName",
			"nameForms": [{
				"fullText": "Barbara Clark",
				"parts": [{
					"value": "Barbara",
					"type": "http://gedcomx.org/Given"
				}, {
					"value": "Clark",
					"type": "http://gedcomx.org/Surname"
				}]
			}]
		}],
		"facts": [{
			"type": "http://gedcomx.org/Census",
			"date": {
				"original": "1930"
			},
			"place": {
				"original": "Afton, Lincoln, Wyoming, United States"
			},
			"primary": true
		}, {
			"type": "http://gedcomx.org/Birth",
			"date": {
				"original": "1919"
			},
			"place": {
				"original": "Wyoming"
			}
		}, {
			"type": "http://gedcomx.org/MaritalStatus",
			"value": "Single"
		}]
	}, {
		"id": "p_10332477133",
		"links": {
			"persona": {
				"href": "https://familysearch.org/platform/records/personas/X7WQ-ZQ6?from=lynx1"
			},
			"record": {
				"href": "https://familysearch.org/platform/records/records/1BZ4-6MB?from=lynx1"
			}
		},
		"sources": [{
			"description": "#sd2"
		}, {
			"description": "#sd_p_10332477133"
		}],
		"extracted": true,
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQ6"],
			"genscrape": ["genscrape://familysearch:record/p_10332477133"]
		},
		"gender": {
			"type": "http://gedcomx.org/Male"
		},
		"names": [{
			"type": "http://gedcomx.org/BirthName",
			"nameForms": [{
				"fullText": "Card Clark",
				"parts": [{
					"value": "Card",
					"type": "http://gedcomx.org/Given"
				}, {
					"value": "Clark",
					"type": "http://gedcomx.org/Surname"
				}]
			}]
		}],
		"facts": [{
			"type": "http://gedcomx.org/Census",
			"date": {
				"original": "1930"
			},
			"place": {
				"original": "Afton, Lincoln, Wyoming, United States"
			},
			"primary": true
		}, {
			"type": "http://gedcomx.org/Birth",
			"date": {
				"original": "1921"
			},
			"place": {
				"original": "Wyoming"
			}
		}, {
			"type": "http://gedcomx.org/MaritalStatus",
			"value": "Single"
		}]
	}, {
		"id": "p_10332477134",
		"links": {
			"persona": {
				"href": "https://familysearch.org/platform/records/personas/X7WQ-ZQX?from=lynx1"
			},
			"record": {
				"href": "https://familysearch.org/platform/records/records/1BZ4-6MB?from=lynx1"
			}
		},
		"sources": [{
			"description": "#sd2"
		}, {
			"description": "#sd_p_10332477134"
		}],
		"extracted": true,
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQX"],
			"genscrape": ["genscrape://familysearch:record/p_10332477134"]
		},
		"gender": {
			"type": "http://gedcomx.org/Male"
		},
		"names": [{
			"type": "http://gedcomx.org/BirthName",
			"nameForms": [{
				"fullText": "Paul Clark",
				"parts": [{
					"value": "Paul",
					"type": "http://gedcomx.org/Given"
				}, {
					"value": "Clark",
					"type": "http://gedcomx.org/Surname"
				}]
			}]
		}],
		"facts": [{
			"type": "http://gedcomx.org/Census",
			"date": {
				"original": "1930"
			},
			"place": {
				"original": "Afton, Lincoln, Wyoming, United States"
			},
			"primary": true
		}, {
			"type": "http://gedcomx.org/Birth",
			"date": {
				"original": "1924"
			},
			"place": {
				"original": "Utah"
			}
		}, {
			"type": "http://gedcomx.org/MaritalStatus",
			"value": "Single"
		}]
	}, {
		"id": "p_10332477135",
		"links": {
			"persona": {
				"href": "https://familysearch.org/platform/records/personas/X7WQ-ZQF?from=lynx1"
			},
			"record": {
				"href": "https://familysearch.org/platform/records/records/1BZ4-6MB?from=lynx1"
			}
		},
		"sources": [{
			"description": "#sd2"
		}, {
			"description": "#sd_p_10332477135"
		}],
		"extracted": true,
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQF"],
			"genscrape": ["genscrape://familysearch:record/p_10332477135"]
		},
		"gender": {
			"type": "http://gedcomx.org/Female"
		},
		"names": [{
			"type": "http://gedcomx.org/BirthName",
			"nameForms": [{
				"fullText": "Wanda Clark",
				"parts": [{
					"value": "Wanda",
					"type": "http://gedcomx.org/Given"
				}, {
					"value": "Clark",
					"type": "http://gedcomx.org/Surname"
				}]
			}]
		}],
		"facts": [{
			"type": "http://gedcomx.org/Census",
			"date": {
				"original": "1930"
			},
			"place": {
				"original": "Afton, Lincoln, Wyoming, United States"
			},
			"primary": true
		}, {
			"type": "http://gedcomx.org/Birth",
			"date": {
				"original": "1925"
			},
			"place": {
				"original": "Utah"
			}
		}, {
			"type": "http://gedcomx.org/MaritalStatus",
			"value": "Single"
		}]
	}, {
		"id": "p_10332477136",
		"links": {
			"persona": {
				"href": "https://familysearch.org/platform/records/personas/X7WQ-ZQN?from=lynx1"
			},
			"record": {
				"href": "https://familysearch.org/platform/records/records/1BZ4-6MB?from=lynx1"
			}
		},
		"sources": [{
			"description": "#sd2"
		}, {
			"description": "#sd_p_10332477136"
		}],
		"extracted": true,
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQN"],
			"genscrape": ["genscrape://familysearch:record/p_10332477136"]
		},
		"gender": {
			"type": "http://gedcomx.org/Male"
		},
		"names": [{
			"type": "http://gedcomx.org/BirthName",
			"nameForms": [{
				"fullText": "Dean Clark",
				"parts": [{
					"value": "Dean",
					"type": "http://gedcomx.org/Given"
				}, {
					"value": "Clark",
					"type": "http://gedcomx.org/Surname"
				}]
			}]
		}],
		"facts": [{
			"type": "http://gedcomx.org/Census",
			"date": {
				"original": "1930"
			},
			"place": {
				"original": "Afton, Lincoln, Wyoming, United States"
			},
			"primary": true
		}, {
			"type": "http://gedcomx.org/Birth",
			"date": {
				"original": "1927"
			},
			"place": {
				"original": "Wyoming"
			}
		}, {
			"type": "http://gedcomx.org/MaritalStatus",
			"value": "Single"
		}]
	}],
	"relationships": [{
		"id": "MM9.1.6/J3RJ-4S9",
		"type": "http://gedcomx.org/Couple",
		"person1": {
			"resource": "#p_10332477129",
			"resourceId": "p_10332477129"
		},
		"person2": {
			"resource": "#p_10332477130",
			"resourceId": "p_10332477130"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4SS",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477129",
			"resourceId": "p_10332477129"
		},
		"person2": {
			"resource": "#p_10332477131",
			"resourceId": "p_10332477131"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4S3",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477129",
			"resourceId": "p_10332477129"
		},
		"person2": {
			"resource": "#p_10332477132",
			"resourceId": "p_10332477132"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4SQ",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477129",
			"resourceId": "p_10332477129"
		},
		"person2": {
			"resource": "#p_10332477133",
			"resourceId": "p_10332477133"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4S7",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477129",
			"resourceId": "p_10332477129"
		},
		"person2": {
			"resource": "#p_10332477134",
			"resourceId": "p_10332477134"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4SW",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477129",
			"resourceId": "p_10332477129"
		},
		"person2": {
			"resource": "#p_10332477135",
			"resourceId": "p_10332477135"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4S4",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477129",
			"resourceId": "p_10332477129"
		},
		"person2": {
			"resource": "#p_10332477136",
			"resourceId": "p_10332477136"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4SH",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477130",
			"resourceId": "p_10332477130"
		},
		"person2": {
			"resource": "#p_10332477131",
			"resourceId": "p_10332477131"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4SC",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477130",
			"resourceId": "p_10332477130"
		},
		"person2": {
			"resource": "#p_10332477132",
			"resourceId": "p_10332477132"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4SZ",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477130",
			"resourceId": "p_10332477130"
		},
		"person2": {
			"resource": "#p_10332477133",
			"resourceId": "p_10332477133"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4S8",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477130",
			"resourceId": "p_10332477130"
		},
		"person2": {
			"resource": "#p_10332477134",
			"resourceId": "p_10332477134"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4SD",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477130",
			"resourceId": "p_10332477130"
		},
		"person2": {
			"resource": "#p_10332477135",
			"resourceId": "p_10332477135"
		}
	}, {
		"id": "MM9.1.6/J3RJ-4S6",
		"type": "http://gedcomx.org/ParentChild",
		"person1": {
			"resource": "#p_10332477130",
			"resourceId": "p_10332477130"
		},
		"person2": {
			"resource": "#p_10332477136",
			"resourceId": "p_10332477136"
		}
	}],
	"sourceDescriptions": [{
		"id": "sd_c_1810731",
		"resourceType": "http://gedcomx.org/Collection",
		"about": "https://familysearch.org/platform/records/collections/1810731",
		"titles": [{
			"lang": "en",
			"value": "United States Census, 1930"
		}],
		"coverage": [{
			"spatial": {
				"original": "United States",
				"description": "#place_1"
			},
			"recordType": "http://gedcomx.org/Census"
		}],
		"identifiers": {
			"http://gedcomx.org/Primary": ["https://familysearch.org/platform/records/collections/1810731"]
		}
	}, {
		"id": "src_r_21829700728",
		"resourceType": "http://gedcomx.org/Record",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:2:1BZ4-6MB : accessed 12 May 2017), Household of Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 14, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"mediaType": "image/jpeg",
		"about": "https://familysearch.org/ark:/61903/1:2:1BZ4-6MB",
		"sources": [{
			"description": "#sd2"
		}],
		"componentOf": {
			"description": "#sd_c_1810731"
		},
		"titles": [{
			"lang": "en",
			"value": "Household of Hans Rasmussen, \"United States Census, 1930\""
		}],
		"coverage": [{
			"spatial": {
				"original": "Afton, Lincoln, Wyoming, United States"
			},
			"temporal": {
				"original": "1930",
				"formal": "+1930"
			},
			"recordType": "http://gedcomx.org/Census"
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:2:1BZ4-6MB"]
		},
		"created": 1384092999848,
		"modified": 1449595050704
	}, {
		"id": "sd_p_10332477128",
		"resourceType": "http://gedcomx.org/Person",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:1:X7WQ-ZQH : accessed 12 May 2017), Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 14, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"about": "https://familysearch.org/ark:/61903/1:1:X7WQ-ZQH",
		"componentOf": {
			"description": "#src_r_21829700728"
		},
		"titles": [{
			"lang": "en",
			"value": "Hans Rasmussen, \"United States Census, 1930\""
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQH"]
		},
		"repository": {
			"resource": "#agent"
		}
	}, {
		"id": "sd_p_10332477129",
		"resourceType": "http://gedcomx.org/Person",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:1:X7WQ-ZQC : accessed 12 May 2017), Porter A Clark in household of Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 15, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"about": "https://familysearch.org/ark:/61903/1:1:X7WQ-ZQC",
		"componentOf": {
			"description": "#src_r_21829700728"
		},
		"titles": [{
			"lang": "en",
			"value": "Porter A Clark in household of Hans Rasmussen, \"United States Census, 1930\""
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQC"]
		},
		"repository": {
			"resource": "#agent"
		}
	}, {
		"id": "sd_p_10332477130",
		"resourceType": "http://gedcomx.org/Person",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:1:X7WQ-ZQZ : accessed 12 May 2017), Lavinia Clark in household of Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 16, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"about": "https://familysearch.org/ark:/61903/1:1:X7WQ-ZQZ",
		"componentOf": {
			"description": "#src_r_21829700728"
		},
		"titles": [{
			"lang": "en",
			"value": "Lavinia Clark in household of Hans Rasmussen, \"United States Census, 1930\""
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQZ"]
		},
		"repository": {
			"resource": "#agent"
		}
	}, {
		"id": "sd_p_10332477131",
		"resourceType": "http://gedcomx.org/Person",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:1:X7WQ-ZQ8 : accessed 12 May 2017), Joyce Clark in household of Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 17, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"about": "https://familysearch.org/ark:/61903/1:1:X7WQ-ZQ8",
		"componentOf": {
			"description": "#src_r_21829700728"
		},
		"titles": [{
			"lang": "en",
			"value": "Joyce Clark in household of Hans Rasmussen, \"United States Census, 1930\""
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQ8"]
		},
		"repository": {
			"resource": "#agent"
		}
	}, {
		"id": "sd_p_10332477132",
		"resourceType": "http://gedcomx.org/Person",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:1:X7WQ-ZQD : accessed 12 May 2017), Barbara Clark in household of Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 18, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"about": "https://familysearch.org/ark:/61903/1:1:X7WQ-ZQD",
		"componentOf": {
			"description": "#src_r_21829700728"
		},
		"titles": [{
			"lang": "en",
			"value": "Barbara Clark in household of Hans Rasmussen, \"United States Census, 1930\""
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQD"]
		},
		"repository": {
			"resource": "#agent"
		}
	}, {
		"id": "sd_p_10332477133",
		"resourceType": "http://gedcomx.org/Person",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:1:X7WQ-ZQ6 : accessed 12 May 2017), Card Clark in household of Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 19, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"about": "https://familysearch.org/ark:/61903/1:1:X7WQ-ZQ6",
		"componentOf": {
			"description": "#src_r_21829700728"
		},
		"titles": [{
			"lang": "en",
			"value": "Card Clark in household of Hans Rasmussen, \"United States Census, 1930\""
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQ6"]
		},
		"repository": {
			"resource": "#agent"
		}
	}, {
		"id": "sd_p_10332477134",
		"resourceType": "http://gedcomx.org/Person",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:1:X7WQ-ZQX : accessed 12 May 2017), Paul Clark in household of Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 20, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"about": "https://familysearch.org/ark:/61903/1:1:X7WQ-ZQX",
		"componentOf": {
			"description": "#src_r_21829700728"
		},
		"titles": [{
			"lang": "en",
			"value": "Paul Clark in household of Hans Rasmussen, \"United States Census, 1930\""
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQX"]
		},
		"repository": {
			"resource": "#agent"
		}
	}, {
		"id": "sd_p_10332477135",
		"resourceType": "http://gedcomx.org/Person",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:1:X7WQ-ZQF : accessed 12 May 2017), Wanda Clark in household of Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 21, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"about": "https://familysearch.org/ark:/61903/1:1:X7WQ-ZQF",
		"componentOf": {
			"description": "#src_r_21829700728"
		},
		"titles": [{
			"lang": "en",
			"value": "Wanda Clark in household of Hans Rasmussen, \"United States Census, 1930\""
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQF"]
		},
		"repository": {
			"resource": "#agent"
		}
	}, {
		"id": "sd_p_10332477136",
		"resourceType": "http://gedcomx.org/Person",
		"citations": [{
			"value": "\"United States Census, 1930,\" database with images, <i>FamilySearch</i> (https://familysearch.org/ark:/61903/1:1:X7WQ-ZQN : accessed 12 May 2017), Dean Clark in household of Hans Rasmussen, Afton, Lincoln, Wyoming, United States; citing enumeration district (ED) ED 5, sheet 6A, line 22, family 111, NARA microfilm publication T626 (Washington D.C.: National Archives and Records Administration, 2002), roll 2623; FHL microfilm 2,342,357.\n"
		}],
		"about": "https://familysearch.org/ark:/61903/1:1:X7WQ-ZQN",
		"componentOf": {
			"description": "#src_r_21829700728"
		},
		"titles": [{
			"lang": "en",
			"value": "Dean Clark in household of Hans Rasmussen, \"United States Census, 1930\""
		}],
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/1:1:X7WQ-ZQN"]
		},
		"repository": {
			"resource": "#agent"
		}
	}, {
		"id": "sd2",
		"resourceType": "http://gedcomx.org/DigitalArtifact",
		"mediaType": "image/jpeg",
		"about": "https://familysearch.org/ark:/61903/3:1:33SQ-GR8V-NPR?cc=1810731",
		"identifiers": {
			"http://gedcomx.org/Persistent": ["https://familysearch.org/ark:/61903/3:1:33SQ-GR8V-NPR?cc=1810731"]
		},
		"repository": {
			"resourceId": "#a1"
		}
	}],
	"agents": [{
		"id": "a1",
		"identifiers": {
			"http://gedcomx.org/Persistent": ["das.familysearch.org"]
		}
	}, {
		"id": "agent",
		"names": [{
			"lang": "en",
			"value": "FamilySearch"
		}],
		"homepage": {
			"resource": "http://familysearch.org"
		}
	}],
	"places": [{
		"id": "place_1",
		"identifiers": {
			"http://gedcomx.org/Primary": ["https://api.familysearch.org/authorities/v1/place/1"]
		}
	}]
}</textarea>
</form>