#main > div {
  margin: 64px 0;
}

h1 {
  font-size: 40px;
}

.marketing .row {
  margin-top: 64px;
  margin-bottom: 64px;
}

.marketing-img {
  text-align: center;
}

.marketing-text {
  font-size: 32px;
}