body {
  font-family: Lato, Arial, sans-serif;
  font-size: 18px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}

a {
  color: #37879E;
}

header {
  background-color: #49AFCD;
  color: #fff;
  line-height: 1;
}

header a {
  color: inherit;
}

header a:hover {
  color: #000;
  text-decoration: none;
}

header .nav a {
  margin-left: 12px;
}

.branding a:hover {
  color: inherit;
}

.header-large {
  padding: 64px;
  font-size: 65px;
  text-align: center;
}

.header-large .logo {
  margin-right: 32px;
}

.header-small {
  padding: 16px;
  overflow: auto;
}

.header-small .branding {
  font-size: 24px;
  float: left;
}

.header-small .nav {
  float: right;
  margin-top: 8px;
}

.header-small .logo {
  margin-right: 16px;
}

#main {
  flex: 1;
}

footer {
  background-color: #49AFCD;
  color: #f9f9f9;
  padding: 16px;
}

footer a {
  color: inherit;
  text-decoration: underline;
}

footer a:hover {
  color: #000;
}

footer .social {
  margin-right: 8px;
}

.form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn {
  border-radius: 0;
}

.btn-rs {
  background-color: #49AFCD;
  color: #fff;
}

.btn-rs:hover {
  background-color: #3D8FA8;
  color: #fff;
}

.btn-rs:focus {
  color: #fff;
}