body {
  font-family: Allerta, Arial, sans-serif;
  font-size: 18px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}

header {
  background-color: #49AFCD;
  color: #f9f9f9;
  text-align: center;
  line-height: 1;
}

h1 {
  margin: 0;
}

.header-large {
  padding: 64px;
}

.header-large h1 {
  font-size: 65px;
}

.header-small {
  padding: 8px;
}

.header-small h1 {
  font-size: 24px;
}

#main {
  flex: 1;
}

footer {
  background-color: #49AFCD;
  color: #f9f9f9;
  padding: 32px;
}

footer a {
  color: inherit;
  text-decoration: underline;
}

footer a:hover {
  color: #000;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn {
  border-radius: 0;
}

.btn-rs {
  background-color: #49AFCD;
  color: #fff;
}

.btn-rs:hover {
  background-color: #3D8FA8;
  color: #fff;
}

.btn-rs:focus {
  color: #fff;
}