.page-save-fs .box {
  border: 1px solid #ccc;
  padding: 16px; }

.page-save-fs .status-list {
  margin: 16px 0;
  overflow: auto;
  padding: 0; }
  .page-save-fs .status-list .circle {
    float: left;
    width: 1em;
    height: 1em;
    display: block;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: white; }
    .page-save-fs .status-list .circle:not(:first-child) {
      margin-left: 1em; }

.page-save-fs .person-name {
  font-weight: bold;
  font-size: 1.1em; }
