.page-save-fs .box {
  border: 1px solid #ccc;
  padding: 16px; }

.page-save-fs .status-list {
  margin: 16px 0;
  overflow: auto;
  padding: 0; }
  .page-save-fs .status-list .circle {
    float: left;
    width: 1em;
    height: 1em;
    display: block;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: white; }
    .page-save-fs .status-list .circle:not(:first-child) {
      margin-left: 1em; }

.page-save-fs .person-name {
  font-weight: bold;
  font-size: 1.1em; }

.page-save-fs .vital .type {
  font-size: .9em;
  color: #777;
  text-transform: uppercase; }

.page-save-fs .person .vital {
  margin-top: 16px; }

.page-save-fs .modal-fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }

.page-save-fs .modal-container {
  border: 1px solid #4193AB;
  padding: 16px;
  text-align: center;
  background-color: #fff; }
