#main {
  padding: 32px 0;
}

#search-form {
  padding: 32px 0;
}

#search-form label {
  font-weight: normal;
}

.site-col {
  margin-top: 15px;
  margin-bottom: 15px;
}

.site-col button {
  width: 100%;
  padding: 20px;
}