#main {
  padding: 32px 0;
}

#search-form label {
  font-weight: normal;
}

.site {
  border: 1px solid #ddd;
  background: #fff;
  overflow: auto;
  margin-bottom: 30px;
  width: 100%;
}

.site:hover {
  background-color: #3D8FA8;
  color: #fff;
  border: 1px solid #3D8FA8;
}

.site-name {
  float: left;
}

.site-search-btn {
  float: right;
}

#site-settings-toggle {
  font-size: 15px;
  cursor: pointer;
}