// Color palette: https://coolors.co/49afcd-ee8434-c95d63-ae8799-496ddb

$primaryColor: #49AFCD;
$primaryColorDark: #4193AB;

$secondaryColor: #EF8F46;
$secondaryColorDark: #D97830;

$textColor: #333;
$textLight: #777;

$borderColor: #ccc;
$borderColorLight: #e5e5e5;

$spacing: 16px;
$spacingHalf: $spacing / 2;
$spacingQuarter: $spacing / 4;
$spacingEigth: $spacing / 8;
$spacingDouble: $spacing * 2;