$primaryColor: #49AFCD;
$primaryColorDark: #4193AB;

$textLight: #777;

$spacing: 16px;
$spacingHalf: $spacing / 2;
$spacingQuarter: $spacing / 4;
$spacingEigth: $spacing / 8;
$spacingDouble: $spacing * 2;