#main > div {
  margin: 64px 0;
}

h1 {
  font-size: 48px;
}

.marketing .row {
  margin-top: 64px;
  margin-bottom: 64px;
}

.marketing-img {
  text-align: center;
}

.marketing-img img {
  width: 50%;
  padding: 16px;
}

.marketing-text {
  font-size: 32px;
  margin-top: 32px;
}

@media (max-width: 991px) {
  .marketing-text {
    text-align: center;
  }
}
