@import '_variables';

.page-save-fs {

  padding: $spacingDouble;
  
  h1 {
    margin: 0;
  }
  
  hr {
    border-top: 1px solid $borderColorLight;
    margin: $spacing 0;
  }
  
  .label {
    font-size: .8em;
    color: $textLight;
    text-transform: uppercase;
    padding: 0;
    font-weight: normal;
    display: inline-block;
  }

  .box {
    border: 1px solid $borderColor;
    padding: $spacing;
    background-color: #fff;
  }

  .status-list {
    margin: $spacing 0;
    overflow: auto;
    padding: 0;
    
    .circle {
      float: left;
      width: 1em;
      height: 1em;
      display: block;
      border-radius: 50%;
      border: 1px solid $borderColor;
      background-color: white;
      cursor: pointer;
      
      &:not(:first-child) {
        margin-left: 1em;
      }
      
      &.saved {
        border: 2px solid #59a959;
      }
      
      &.selected {
        border: 2px solid $primaryColor;
      }
    }
  }
  
  .person-name {
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .person {
    
    margin-bottom: $spacing;
    
    .box {
      margin-top: $spacing;
    }
    
  }
  
  .record .box {

    .name-detail,
    .fact-piece,
    .label {
      margin-left: $spacingDouble;
    }
    
    .copy-box {
      float: left;
      margin-top: 10px;
    }
  }
  
  .fact {
    
    overflow: auto;
    
    input[type="text"] {
      display: block;
      padding: $spacingEigth $spacingQuarter;
      width: 100%;
    }
    
    .fact-line {
      line-height: 33px;
      
      &:not(:first-child){
        margin-top: $spacingQuarter;
      }
    }
    
    .fact-piece {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
  }
  
  .fact-placeholder {
    height: 99px;
  }
  
  .modal-fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-container {
    border: 1px solid $primaryColorDark;
    padding: $spacing;
    text-align: center;
    background-color: #fff;
  }
  
  .loader {
    text-align: center;
    
    p {
      margin-top: $spacing;
    }
  }
  
  .match {
    
    &:not(:first-child){
      margin-top: $spacing;
    }
    
    .person-id {
      margin-left: $spacing;
    }
    
    .fact {
      margin-top: $spacing;
    }
    
    .relation {
      margin-top: $spacing;
    }
    
    .btn {
      margin-top: $spacing;
    }
    
  }
  
  .react-autosuggest__container {
    height: 33px;
    overflow-y: visible;
    
    &:not(:first-child) {
      margin-top: $spacingQuarter;
    }
  }
  
  .react-autosuggest__suggestions-container {
    position: relative;
  }
  
  .react-autosuggest__suggestions-list {
    list-style: none;
    padding: 0;
  }
  
  .react-autosuggest__suggestion {
    background-color: #fff;
    padding: $spacingQuarter;
    border: 1px solid $borderColor;
    border-top: 0px;
    cursor: pointer;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: $primaryColor;
    color: #fff;
  }
  
}